In [1]:
print("i love python")

i love python

In [15]:
hello = "i love python"

print(hello)

i love python i love python

In [8]:
age1st = 44

In [2]:
age = 23

hieght = 23.8

name = "musa bada"

4

In [13]:
X = 4
Y = 6
Z = (X+Y)
print(Z)

10

In [14]:
num1 = 2
num2 = 5
num3 = 6
avg = (num1 + num2 + num3) / 3

print(f'the average of: {num1}, {num2}, {num3} is: {avg}')

the average of: 2, 5, 6 is: 4.333333333333333

In [20]:
x = 'sam'
y = 'joel'
z = (x+' '+y)
z

'sam joel'

In [23]:
x = 'sam'
y = 44
u = str(y)
z = (x+u)
z

'sam44'

In [35]:
x = 3 + 2 * 2

print("the value of x is " + str(x))
print(f'the value of x is {x}')
#"the value of x is " {}".format

the value of x is 7
the value of x is 7

In [28]:
x = 8
print('x')

x

In [46]:
ages = [23, 45, 67, 87, 12, 34]
ages[0:6]

[23, 45, 67, 87, 12, 34]

In [50]:
y = 77
x = 88
y
x

88

In [52]:
y

77

In [49]:
ages = [23, 45, 67, 87, 12, 34]

print(ages[0])
print(ages[0:3])
print(ages[::2])

23
[23, 45, 67]
[23, 67, 12]

In [10]:
ages = [2, 4, 3, 6, 3, 7, 6, 9, 11]

ages[2:8]

[2, 3, 11]

In [11]:
ages[::4]

[2, 3, 11]

In [53]:
ages=[1,2,3,4,5,5,6,7,8,9]

sum_of_ages = 2
for age in ages:
    sum_of_ages = sum_of_ages + age
        
    print(sum_of_ages)

1
3
6
10
15
20
26
33
41
50

In [56]:
ages=[1,2,3,4,5,5,6,7,8,9]
for age in ages:
    if age > 6:
        
        print(age)

7
8
9

In [20]:
for number in range (16):
    if number%2 == 0:
        print(number)

0
2
4
6
8
10
12
14

0

In [63]:
for num in range(10):
    if num <=10:
        print(num)

0
1
2
3
4
5
6
7
8
9

In [65]:
for num in range(1, 11):
    multiplier = 1
    while multiplier < 10:
        print("{} X {} = {}". format(num, multiplier, num * multiplier))
        multiplier += 1
    print("")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

In [69]:
range(-5, 6)
for x in range:
    print(x)

TypeError: 'type' object is not iterable

In [68]:
general = ['rock', 'soul', 'pop']
for x in general:
    print(x)

rock
soul
pop

In [80]:
playlistratings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

for rating in playlistratings:
    
    if rating < 6: 
        break
    print(rating)

10
9.5
10
8
7.5

In [82]:
playlistratings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

for rating in playlistratings:
    
    if rating > 6: 
        
print(rating)

IndentationError: expected an indented block after 'if' statement on line 5 (895905972.py, line 7)

In [84]:
playlistratings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

rating_index = 0
while rating_index < len(playlistratings) - 1:
    
    rating_index = rating_index + 1
    
    if playlistratings[rating_index] < 6:
        break
    print(playlistratings[rating_index])
    
    rating_index = rating_index +1

9.5
8

In [85]:
# tuples (imutable and unimutable)

In [86]:
tp = (1,2,3)
tp[2]

3

In [88]:
names = ["alaba", "Mustapha", "adejoke"]
ages = [12, 13, 54]

list(zip(names, ages))

[('alaba', 12), ('Mustapha', 13), ('adejoke', 54)]

In [98]:
dave = (1,2,3,4,5,6)

sorted(dave, reverse=True)

[6, 5, 4, 3, 2, 1]

In [99]:
# set in python

In [101]:
dir (list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [103]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
set([1,2,3])issubset(set(list))